@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Chivo as the default font for the whole site */
body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code blocks can have a different font */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
